@font-face {
  font-family: 'printjob-mono'; /*a name to be used later*/
  src: url('../fonts/printjobmonospace-Regular.woff'); /*URL to font*/
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;

}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: red;
}

#container {
  // margin-left: 10vw;
  margin-right: 20vw;
  display: flex;
  flex-direction: column;

  margin-bottom: 200px;
}

.content-block {
  width: fit-content;

  img {
    max-width: 400px;
  }
}

@media screen and (max-width: 700px) {
  body {
    font-size: 0.5*$base-font-size;
    line-height: 0.5*$base-line-height;
  }

  #container {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    z-index: 2;
  }

  .content-block {
    margin-left: none !important;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 350px) {
  body {
    font-size: 0.45*$base-font-size;
    line-height: 0.45*$base-line-height;
  }
}
