@font-face {
  font-family: 'printjob-mono'; /*a name to be used later*/
  src: url('../fonts/printjobmonospace-Regular.woff'); /*URL to font*/
}


body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;

}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: green;
}

#container {
  // margin-left: 10vw;
  margin-right: 20vw;
  display: flex;
  flex-direction: column;
}

.content-block {
  width: fit-content;
}
