---
layout: default
---
<div id="container-item">
  {% for content in site.data.header.content_blocks %}
    {% assign output = content.content_block %}

    <!-- Menu -->
    {% if output == '__menu__' %}
      {% assign output = '' %}
      {% for item in site.data.menus.main %}
        {% capture tmp %}<a href="{{item.url}}" title="{{item.title}}">{{item.title}}</a> {% endcapture %}
        {% assign output = output | append: tmp %}
      {% endfor %}
    {% endif %}

    {% if content.enable_border %}
      <!-- Get max line size -->
      {% assign lines = output | split: '<br>' %}
      {% assign maxSize = 0 %}
      {% for line in lines %}
        {% assign lineSize = line | strip_html | strip | size %}
        {% if lineSize > maxSize %}
          {% assign maxSize = line | strip_html | strip | size %}
        {% endif %}
      {% endfor %}

      <!-- max line size + 2 on each side -->
      {% assign topString = '' %}
      {% assign bottomString = '' %}
      {% assign maxSizePad = maxSize | plus: 4 %}
      {% for i in (1..maxSizePad) %}
        {% assign topString = topString | append: '<span class="border top">*</span>' %}
        {% assign bottomString = bottomString | append: '<span class="border bottom">*</span>' %}
      {% endfor %}

      {% assign output = topString %}
      {% assign output = output | append: '<br>' %}

      {% for line in lines %}
        {% assign newLine = line | strip %}
        {% assign lineSize = newLine | strip_html | size %}
        {% assign diffMax = maxSize | minus: lineSize %}
        {% for i in (1..diffMax) %}
          {% assign newLine = newLine | append: '&nbsp;' %}
        {% endfor %}

        {% assign output = output | append: '<span class="border left">*</span> ' %}
        {% assign output = output | append: newLine %}
        {% assign output = output | append: ' <span class="border right">*</span><br>' %}

      {% endfor %}

      {% assign output = output | append: bottomString %}

    {% endif %}

    <div class="content-block">
      {% if content.url %}
        <a href="{{ content.url }}">{{ output }}</a>
      {% else %}
        {{ output }}
      {% endif %}
    </div>
  {% endfor %}

  <div class="item-container">
    <div class="item-image-container">
      <img src="{{page.image}}">
    </div>
    <div class="item-name">{{page.item_name}}</div>
    <div class="item-author">{{page.by}}</div>
    <br>
    <div class="item-dimensions">{{page.dimensions}}</div>
    <div class="item-materials">{{page.materials}}</div>
    <div class="item-edition">{{page.edition}}</div>
    <br>
    <div class="item-cost">${{page.cost}}</div>
    <div class="item-add-to-cart"><a href="{{page.paypal_url}}" target="_blank">{{page.purchase_type}}</a></div>
    <br>
    <div class="item-description">{{page.description}}</div>
  </div>
</div>

<script>

checkSize();
window.onresize = checkSize;

function checkSize() {
  if (window.innerWidth< 700)
    return;

  var containerWidth = document.getElementById('container-item').getBoundingClientRect().width;
  var content = document.getElementsByClassName('content-block');
  for (var i = 0; i < content.length; i++) {
    var contentWidth = content[i].getBoundingClientRect().width;
    var maxOffsetWidth = containerWidth-contentWidth;
    content[i].style.marginLeft = Math.random()*maxOffsetWidth + 'px';
    content[i].style.marginTop = Math.random()*25+25 + 'px';
  }
}
</script>
