---
layout: default
---
<div id="container">
  {% for content in page.content_blocks %}
    {% assign output = content.content_block %}

    <!-- Store -->
    {% if output == '__store__' %}
      {% assign output = 'Products:<br><br>' %}
      {% assign items = site.store | sort: 'rank' | reverse %}
      {% for item in items %}
        {% if item.show %}
          {% capture tmp %}<span class="{{item.item_name | slugify }} item"><span class="item-name">{{item.item_name}}</span><span class="spacing">..</span><span class="item-cost">${{item.cost}}</span></span> <a href="{{ item.paypal_url }}" target="_blank">{{item.purchase_type}}</a><div class="{{item.item_name | slugify}} item-meta hide">{% if item.image != '' %}<img src="{{item.image}}">{% endif %}</div><br>{% endcapture %}
          {% assign output = output | append: tmp %}
        {% endif %}
      {% endfor %}
    {% endif %}

    <!-- Menu -->
    {% if output == '__menu__' %}
      {% assign output = '' %}
      {% for item in site.data.menus.main %}
        {% capture tmp %}<a href="{{item.url}}" title="{{item.title}}">{{item.title}}</a> {% endcapture %}
        {% assign output = output | append: tmp %}
      {% endfor %}
    {% endif %}

    {% if content.enable_border %}
      <!-- Get max line size -->
      {% assign lines = output | split: '<br>' %}
      {% assign maxSize = 0 %}
      {% for line in lines %}
        {% assign lineSize = line | strip_html | strip | size %}
        {% if lineSize > maxSize %}
          {% assign maxSize = line | strip_html | strip | size %}
        {% endif %}
      {% endfor %}

      <!-- max line size + 2 on each side -->
      {% assign topString = '' %}
      {% assign bottomString = '' %}
      {% assign maxSizePad = maxSize | plus: 4 %}
      {% for i in (1..maxSizePad) %}
        {% assign topString = topString | append: '<span class="border top">*</span>' %}
        {% assign bottomString = bottomString | append: '<span class="border bottom">*</span>' %}
      {% endfor %}

      {% assign output = topString %}
      {% assign output = output | append: '<br>' %}

      {% for line in lines %}
        {% assign newLine = line | strip %}
        {% assign lineSize = newLine | strip_html | size %}
        {% assign diffMax = maxSize | minus: lineSize %}
        {% for i in (1..diffMax) %}
          {% assign newLine = newLine | append: '&nbsp;' %}
        {% endfor %}

        {% assign output = output | append: '<span class="border left">*</span> ' %}
        {% assign output = output | append: newLine %}
        {% assign output = output | append: ' <span class="border right">*</span><br>' %}

      {% endfor %}

      {% assign output = output | append: bottomString %}

    {% endif %}

    <div class="content-block">
      {% if content.url %}
        <a href="{{ content.url }}">{{ output }}</a>
      {% else %}
        {{ output }}
      {% endif %}
    </div>
  {% endfor %}
</div>

<script>

checkSize();
window.onresize = checkSize;

function checkSize() {
  if (window.innerWidth< 700)
    return;

  var containerWidth = document.getElementById('container').getBoundingClientRect().width;
  var content = document.getElementsByClassName('content-block');
  for (var i = 0; i < content.length; i++) {
    var contentWidth = content[i].getBoundingClientRect().width;
    var maxOffsetWidth = containerWidth-contentWidth;
    content[i].style.marginLeft = Math.random()*maxOffsetWidth + 'px';
    content[i].style.marginTop = Math.random()*250+25 + 'px';
    if (i == 0) content[i].style.marginTop = Math.random()*100 + 'px';
  }
}

var items = document.getElementsByClassName('item');
for (var i = 0; i < items.length; i++) {
  (function(a) {
    var item = items[a];
    var itemClass = item.classList[0];
    var itemImageClass = '.item-meta.' + itemClass;
    var itemImg = document.querySelector(itemImageClass);
    item.onclick = function() {
      itemImg.classList.toggle('hide');
    }
  })(i);
}
</script>
