---
layout: default
---
<div id="container">
  {% for content in page.content_blocks %}
    {% assign output = content.content_block %}

    <!-- Menu -->
    {% if output == '__menu__' %}
      {% assign output = '' %}
      {% for item in site.menus.main %}
        {% capture tmp %}<a href="{{item.url}}" title="{{item.title}}">{{item.title}}</a> {% endcapture %}
        {% assign output = output | append: tmp %}
      {% endfor %}
    {% endif %}

    {% if content.enable_border %}
      <!-- Get max line size -->
      {% assign lines = output | split: '<br>' %}
      {% assign maxSize = 0 %}
      {% for line in lines %}
        {% assign lineSize = line | strip_html | strip | size %}
        {% if lineSize > maxSize %}
          {% assign maxSize = line | strip_html | strip | size %}
        {% endif %}
      {% endfor %}

      <!-- max line size + 2 on each side -->
      {% assign topString = '' %}
      {% assign bottomString = '' %}
      {% assign maxSizePad = maxSize | plus: 4 %}
      {% for i in (1..maxSizePad) %}
        {% assign topString = topString | append: '<span class="border top">*</span>' %}
        {% assign bottomString = bottomString | append: '<span class="border bottom">*</span>' %}
      {% endfor %}

      {% assign output = topString %}
      {% assign output = output | append: '<br>' %}

      {% for line in lines %}
        {% assign newLine = line | strip %}
        {% assign lineSize = newLine | strip_html | size %}
        {% assign diffMax = maxSize | minus: lineSize %}
        {% for i in (1..diffMax) %}
          {% assign newLine = newLine | append: '&nbsp;' %}
        {% endfor %}

        {% assign output = output | append: '<span class="border left">*</span> ' %}
        {% assign output = output | append: newLine %}
        {% assign output = output | append: ' <span class="border right">*</span><br>' %}

      {% endfor %}

      {% assign output = output | append: bottomString %}

    {% endif %}

    <div class="content-block">
      {% if content.url %}
        <a href="{{ content.url }}">{{ output }}</a>
      {% else %}
        {{ output }}
      {% endif %}
    </div>
  {% endfor %}
</div>

<!--  Store -->
<div class="store-container">
  {% assign topString = '' %}
  {% assign bottomString = '' %}
  {% assign blankString = '<span class="border left">*</span>' %}
  {% assign size = 25 %}
  {% assign sizeSmaller = size | minus: 2 %}
  {% for i in (1..size) %}
    {% assign topString = topString | append: '<span class="border top">*</span>' %}
    {% assign bottomString = bottomString | append: '<span class="border bottom">*</span>' %}
  {% endfor %}

  {% for i in (1..sizeSmaller) %}
    {% assign blankString = blankString | append: '&nbsp;' %}
  {% endfor %}
  {% assign blankString = blankString | append: '<span class="border right">*</span><br>' %}

  {% assign items = site.store | sort: 'rank' | reverse %}
  {% for item in items %}
    {% if item.show %}
      <a href="{{item.url}}" class="item-link">
        <div class="store-item item {{item.item_name | slugify }}">
          {{ topString }}<br>
          {% for i in (1..20) %}
            {{ blankString }}
          {% endfor %}
          <div class="store-item-content">
            <div class="image-container">
              <img src="{{item.image}}">
              <div class="item-name">{{item.item_name}}</div>
              <div class="item-author">{{item.by}}</div>
              <br>
              <div class="item-cost">${{item.cost}}</div>
              <div class="item-add-to-cart"><a href="{{item.paypal_url}}">Add to cart...</a></div>
            </div>
          </div>
          {{ bottomString }}
        </div>
      </a>
    {% endif %}
  {% endfor %}
</div>

<script>

checkSize();
window.onresize = checkSize;

function checkSize() {
  if (window.innerWidth< 700)
    return;

  var containerWidth = document.getElementById('container').getBoundingClientRect().width;
  var content = document.getElementsByClassName('content-block');
  for (var i = 0; i < content.length; i++) {
    var contentWidth = content[i].getBoundingClientRect().width;
    var maxOffsetWidth = containerWidth-contentWidth;
    content[i].style.marginLeft = Math.random()*maxOffsetWidth + 'px';
    content[i].style.marginTop = Math.random()*250+25 + 'px';
    if (i == 0) content[i].style.marginTop = Math.random()*100 + 'px';
  }
}
</script>
